.home-container {
<<<<<<< HEAD
    margin-top: 10vh;
=======
    margin-top: 75px;
    margin-bottom: 75px;
>>>>>>> 041aaa0ec3a380b92337702912205a9a026342aa
    display: flex;
    justify-content: center;
  }
  
  .home-text {
    width: 30.75rem;
    margin-right: 3rem;
  }
  
  .home-text-title {
    font-size: 3rem;
    color: var(--color-turquoise);
  }
  
  .home-text-subtitle {
    font-size: 1.65rem;
    color: var(--color-coral);
  }
  
  .home-actions {
    display: flex;
    height: 4rem;
    margin-top: 25vh;
  }
  
  .home-btn {
    background-color: var(--color-turquoise);
    border-radius: 10px 0px 0px 10px;
    color: var(--color-black);
    font-weight: bold;
    font-size: 1.45rem;
    padding: 0.5rem 2.9rem;
  }
  
  .home-btn:hover {
    background-color: #04c7ef;
  }
  
  .home-btn-icon {
    border-radius: 0px 10px 10px 0px;
    width: 70px;
    background-color: var(--color-coral);    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* responsive */
  
  @media (max-width: 1280px) {
    .home-image {
      max-width: 400px;
      height: auto;
    }
  }
  
  @media (max-width: 1280px) {
    .home-image {
      max-width: 400px;
      height: auto;
    }
  
    .home-text-title {
      font-size: 45px;
    }
    
    .home-text-subtitle {
      font-size: 20px;
    }
  
    .home-text {
      width: 410px;
      margin-right: 20px;
    }
  
    .home-btn {
      font-size: 18px;
      padding: 10px 25px;
    }
  
    .home-actions {
      margin-top: 50px;
    }
  }
  
  @media (max-width: 850px) {
    .home-container {
      margin-top: 50px;
    }
  
    .home-actions {
      height: 50px;
      justify-content: center;
    }
  
<<<<<<< HEAD

=======
    .home-image {
      display: none;
      width: 100%;
    }
  
>>>>>>> 041aaa0ec3a380b92337702912205a9a026342aa
    .home-text {
      margin-right: 0;
      text-align: center;
      padding: 0 10px;
    }
  }